<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs/internal-nlog.txt">
	<variable name="logDirectory" value="${basedir}/logs/" />
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Targets.GraylogHttp"/>
		<!-- <add assembly="NLog.Targets.Gelf" /> -->
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target name="logfile" type="File" fileName="${logDirectory}/ka8_${shortdate}.log"
				layout="${longdate} ${message} ${exception:format=Message:innerFormat=Message:maxInnerExceptionLevel=3:exceptionDataSeparator=\r\n}" />

		<!--
	  
		<target name="gelf" type="gelf" gelfserver="graylog.iecp.ru" port="12201" maxchunksize="8154" facility="keepaliveworker" />

		<target name="solar"
				xsi:type="Network"
				address="tcp://localhost:12201"
				newLine="true"
				lineEnding="Null">
			<layout xsi:type="GelfLayout">
				<field name="tags" layout="MySolarService" />
			</layout>
		</target>
	  
		-->

		<target name="graylog"
				  xsi:type="GraylogHttp"
				  facility="keepaliveworker"
				  graylogServer="http://localhost"
				  graylogPort="12201">
			<!-- Location information. -->
			<parameter name="source_method" layout="${callsite}" />
			<parameter name="source_line" layout="${callsite-linenumber}" />

			<parameter name="test_prop" layout="${event-context:item=test_prop}" />
		</target>

	</targets>
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<!-- BlackHole without writeTo -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<!-- <logger name="*" minLevel="Trace" appendTo="gelf"/> -->
		<logger name="*" minlevel="Trace" writeTo="graylog" />
	</rules>
</nlog>